<div class="container">
	<div class="row">

<%= render 'users/error_messages', book:@books %>

<%= render 'users/sidebar', user: @user, book:@books %>


<div class="col-lg-8">


<h1>Books</h1>

<table class="table table-striped">


 <tr>
 	<th>&nbsp;</th>
 	<th>title</th>
 	<th>opinion</th>
 </tr>
 <% @book.each do |books| %>

  <tr>
  	<td><%= attachment_image_tag @users,:image, :fill, 60, 60, fallback:"no_image.jpg" , class: "" %></td>
    <td class="book_#{books.id}"><%= link_to book_path(books.id)do%><%= books.title %><% end %></td>
    <td><%= books.opinion %></td>

  </tr>

 <% end %>

  </table>
</div>
 </div>
</div>